p {
    color: cornflowerblue;
    font-family: sans-serif;
    padding-top: 10px;
    padding-right: 50px;
    font-weight: lighter;
}

h4 {
    color: cornflowerblue;
    font-family: sans-serif;
    padding-top: 10px;
    padding-left: 10px;
    font-family: sans-serif;
    font-weight: lighter;
}

h3 {
    color: cornflowerblue;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 20px;
    font-family: sans-serif;
}

h2 {
    color: cornflowerblue;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: lighter;
    text-align: center;
}

img {
    height: 30px;
    padding-top: 10px;
    padding-left: 10px;
}

.right-content {
    text-align: right;
    margin-right: 0px;
    margin-left: auto;
    padding-left: 10px;
}

.left-content {
    text-align: center;
    padding-left: 10px;
    margin-left: 20px;
}

.social-media{
    margin-right: 50px;
    margin-inline-start: auto;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin-right: auto;
    margin-left: auto;
}
th, td {
    padding: 10px;
}